body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}


header {
  background: rgba(0, 0, 0, 0.5) url('/images/entete.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: #e2e2e2;
  padding: 10px;
  height: 300px;
  box-shadow: 0px 5px 10px black;
  margin-bottom: 50px;
}

.top-bar{
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}
.cart-button{
  background-color: transparent;
  width: 160px;  
  font-weight: bolder;
  border: none;
}
.cart-button a{
  color:#e2e2e2;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.cart-button a:hover{
  color: #ffc741;
  cursor: pointer;
}
.cart-number{
  margin-left: 5px;
  padding: 0 6px 0px 6px;
  border-radius: 50%;
  background: black;
  font-weight: bolder;
}

.tel{
  margin-top: 3px;
  font-weight: bolder;
  width: 160px;
}
.tel a{
  color: #e2e2e2;
  display: flex;
  align-items: center;
}
.tel a:hover{
  color: rgb(64, 195, 81);
  cursor: pointer;
}
.fb{
  margin-top: 3px;
  font-weight: bolder;
  width: 160px;
}
.fb a{
  color: #e2e2e2;
  display: flex;
  align-items: center;
}
.fb a:hover{
  color: rgb(3, 155, 229);
  cursor: pointer;
}

nav {
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
nav ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #e2e2e2;
  font-weight: bold;
}
nav ul li a:hover {
  color: #ffc741;
  border-top: solid 1px #ffc741;
  border-bottom: solid 1px rgb(255, 198, 66)
}

.header-logo{
  margin: 10px auto;
}
.logo{
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: gold;
}


/*************************** slider *****************************/
main{
  background: #323444;
  margin-bottom: 30px;
  padding-top: 30px;
  box-shadow: 0px 5px 10px black;
  display: flex;
}
.d-none{
  display: none;
}

.slider-container {
  width: 100%;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  position: relative;
  height: 660px;
  width: 400px;
  margin-bottom: 30px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.cards label {
  position: absolute;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 1s ease;
  border: solid;
}

.cards .card{
  position: relative;
  height: 600px;
  background-color: #7b7672;
  border-radius: 10px;
  padding: 30px;
}

.card .image{
  display: flex;
  justify-content: space-around;
  
  
}

.card .image img{
  
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
  width: 100%;
  height: 220px;
  object-fit: cover;
}



.card .infos{
  display: block;
  text-align: start;
  padding-top: 20px;
}

.infos .cathegory-name{
  text-align: center;
  font-size: 30px;
  color: var(--current-color1);
  letter-spacing: 8px;
  margin-bottom: 20px;
  transition: all .6s ease;
}

.infos .cathegory-description{
  font-size: 16px;
  color: #e2e2e2;
  letter-spacing: 3px;
}

.card .btn-contact{
  width: 100%;
  height: 60px;
  margin: 35px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e2e2e2;
  font-size: 30px;
  letter-spacing: 10px;
  font-weight: 700;
  transition: all .7s ease;
}

.card .socials{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}




#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-80%, 0, -220px);
  --current-color1: #e2e2e2;
  --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-40%, 0, -120px);
  --current-color1: #e2e2e2;
  --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: #fad00c;
  --current-color2: #e2e2e2;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(40%, 0, -120px);
  --current-color1: #e2e2e2;
  --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(80%, 0, -220px);
  --current-color1: #e2e2e2;
  --current-color2: #404457;
}


/*
main{
  background: rgb(0, 0, 0, 0.80);
  margin-bottom: 30px;
  padding: 10px;
}
main h2{
  color: #ffd700;
  text-align: center;
}
.cathegories-container{
  display: flex;
  width:100%;
  max-width: 1000px;
  height: 500px;
  padding:50px;
  position: relative;
  margin: 0 auto 50px auto;
  border-radius: 20px;
}
#slide{
  width:max-content;
  margin-top:50px;
}
.item{
  width:200px;
  height:300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top:50%;
  transform: translate(50%,-50%);
  border-radius: 20px;
  box-shadow:  0 30px 50px #505050;
}

/*
.item:nth-child(2){
  left:300px;
  top:0;
  transform: translate(0,0);
  border-radius: 0;
  width:40%;
  height:100%;
  box-shadow: none;
  border-radius: 20px;
  box-shadow: rgba(255, 198, 66, 0.5) -1px 2px, rgba(255, 198, 66, 0.4) -2px 4px, rgba(255, 198, 66, 0.3) -3px 6px, rgba(255, 198, 66, 0.2) -4px 8px, rgba(255, 198, 66, 0.1) -5px 10px;
}
.item:nth-child(3){
  right: 0;
  opacity: 1;
  border: solid 1px green;
}
.item:nth-child(4){
  opacity: 0;
  left:400px;
  top:150px;
  transform: translate(0,0);
}
.item:nth-child(n+5){
  left:calc(0% - 220px);
  opacity: 1;
  border: solid 1px red;
}
*/

/*
.item:nth-child(1),
.item:nth-child(2){
  left:0;
  top:0;
  transform: translate(0,0);
  border-radius: 0;
  width:100%;
  height:100%;
  box-shadow: none;
  border-radius: 20px;
  box-shadow: rgba(255, 198, 66, 0.5) -1px 2px, rgba(255, 198, 66, 0.4) -2px 4px, rgba(255, 198, 66, 0.3) -3px 6px, rgba(255, 198, 66, 0.2) -4px 8px, rgba(255, 198, 66, 0.1) -5px 10px;
}
.item:nth-child(3){
  left:75%;
  opacity: 0.8;
}
.item:nth-child(4){
  left:calc(75% + 220px);
  opacity: 0.6;
}
.item:nth-child(n+5){
  left:calc(75% + 440px);
  opacity: 0;
}








.item .content{
  position: absolute;
  top:50%;
  left:50%;
  width:40%;
  text-align: left;
  padding:0;
  color:#eee;
  transform: translate(-50%,-50%);
  display: none;
  font-family: system-ui;
}
.item:nth-child(2) .content{
  display: block;
  z-index: 100;
  padding: 20px;
  box-shadow: 2px 2px 10px black;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.item .name{
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation:showcontent 1s ease-in-out 1 forwards;
}
.item .description{
  margin:20px 0;
  opacity: 0;
  animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
  padding:10px 20px;
  border:none;
  border-radius: 5px;
  opacity: 0;
  cursor: pointer;
  animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
  from{
      opacity: 0;
      transform: translate(0,100px);
      filter:blur(33px);
  }to{
      opacity: 1;
      transform: translate(0,0);
      filter:blur(0);
  }
}
.buttons{
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom:30px;
  z-index: 100;
  text-align: center;
  width:80%;
}
.buttons button{
  width:100px;
  height:100px;
  border-radius: 50%;
  border:1px solid #555;
  transition: 0.5s;
  cursor: pointer;
}
.buttons button:hover{
  background-color: #bac383;
}

*/



/***************************** about ***************************/
.about-section{
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
}
.about{
  width: 50%;
  padding: 20px;
}
.contact{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 20px;
}
.contact input, .contact textarea, .contact button{
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: #ddd;
}
.contact button{
  background-color: #333;
  cursor: pointer;
  color: #fff;
}
.about-section h2{
  text-align: center;
  color: #ffc741;
}
textarea {
  resize: none;
}




/*************************** footer *******************************/

footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  color: #ffd700;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #888;
}

.footer-section p {
  line-height: 1.5;
}

.footer-section a {
  color: #e2e2e2;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}







.color1 {color: #ffc741;}
.color2 {color: #ffff5b;}
.color3 {color: #2c1700;}
.color4 {color: #7b7672;}
.color5 {color: #e2e2e2;}
