body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}


header {
  background: rgba(0, 0, 0, 0.5) url('/images/entete.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: #e2e2e2;
  padding: 10px;
  height: 360px;
  box-shadow: 0px 5px 10px black;
  margin-bottom: 50px;
}

.top-bar{
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}
.cart-button{
  background-color: transparent;
  width: 160px;  
  font-weight: bolder;
  border: none;
}
.cart-button a{
  color:#e2e2e2;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.cart-button a:hover{
  color: #ffc741;
  cursor: pointer;
}
.cart-quantity{
  margin-left: 5px;
  padding: 0 6px 0px 6px;
  border-radius: 50%;
  background: black;
  font-weight: bolder;
}

.tel{
  margin-top: 3px;
  font-weight: bolder;
  width: 160px;
}
.tel a{
  color: #e2e2e2;
  display: flex;
  align-items: center;
}
.tel a:hover{
  color: rgb(64, 195, 81);
  cursor: pointer;
}
.fb{
  margin-top: 3px;
  font-weight: bolder;
  width: 160px;
}
.fb a{
  color: #e2e2e2;
  display: flex;
  align-items: center;
}
.fb a:hover{
  color: rgb(3, 155, 229);
  cursor: pointer;
}

nav {
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
nav ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #e2e2e2;
  font-weight: bold;
}
nav ul li a:hover {
  color: #ffc741;
  border-top: solid 1px #ffc741;
  border-bottom: solid 1px rgb(255, 198, 66);
}

.header-logo{
  margin: 0px auto;
}
.logo{
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: gold;
}


/*************************** slider *****************************/
main{
  background: #eee;
  margin-bottom: 50px;
  padding-top: 0;
  box-shadow: 0px 5px 10px rgb(43, 22, 0),
              0px 0px 30px 10px rgba(43, 22, 0, 0.75) inset;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
main h2{
  color: black;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  border-top: solid 1px #2c1700;
  border-bottom: solid 1px #2c1700;
  width: 400px;
  margin: 30px auto;
}
.d-none{
  display: none;
}
.slider-container {
  width: 100%;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards {
  position: relative;
  height: 660px;
  width: 400px;
  margin: 0px auto;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.cards label {
  position: absolute;
  border-radius: 10px;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 5px double #ffc741;
}
.cards img{ 
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
  width: 100%;
  height: 620px;
  object-fit: cover;
}
.cards .infos{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 20px;
  border-radius: 10px;
  background: rgb(0, 0, 0, 0.4);
  position: absolute;
  top: 20%;
  right: 10%;
  left: 10%;
  opacity: 0;
  backdrop-filter: blur(3px);
}
.infos .category-name{
  text-align: center;
  font-size: 30px;
  color: #ffc741;
  letter-spacing: 8px;
  margin-bottom: 20px;
  transition: all .6s ease;
}
.infos .category-description{
  font-size: 16px;
  color: #e2e2e2;
  letter-spacing: 3px;
}
#s1:checked ~ .cards #slide1 .infos,
#s2:checked ~ .cards #slide2 .infos,
#s3:checked ~ .cards #slide3 .infos,
#s4:checked ~ .cards #slide4 .infos,
#s5:checked ~ .cards #slide5 .infos{
  animation:showcontent 1s ease-in-out 0.6s 1 forwards;
}
@keyframes showcontent{
  from{
      opacity: 0;
      transform: translate(0,100px);
      filter:blur(33px);
  }to{
      opacity: 1;
      transform: translate(0,0);
      filter:blur(0);
  }
}
#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-80%, 0, -220px);
}
#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-40%, 0, -120px);
}
#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
}
#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(40%, 0, -120px);
}
#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(80%, 0, -220px);
}




/************************** Products **************************/

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: 0 auto 50px auto;
}
@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
.product-container {
  padding: 40px 25px 25px 25px;
  border-right: 1px solid rgba(122, 117, 113, 0.5);
  border-bottom: 1px solid rgba(122, 118, 115, 0.5);
  display: flex;
  flex-direction: column;
}
.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  margin-bottom: 20px;
}
.product-image {
  max-width: 100%;
  max-height: 100%;
}
.product-name {
  height: 40px;
  margin: 0 auto 5px auto;
}
.product-price {
  font-weight: 700;
  margin: 0 auto 20px auto;
}
.product-quantity-container {
  margin:0 auto;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  /* At first, the "Added to cart" message will
     be invisible. Use JavaScript to change the
     opacity and make it visible. */
  opacity: 0;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}



/***************************** about ***************************/
.about-section{
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
}
.about{
  width: 50%;
  padding: 20px;
}
.contact{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 20px;
}
.contact input, .contact textarea, .contact button{
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: #ddd;
}
.contact button{
  background-color: #333;
  cursor: pointer;
  color: #fff;
}
.about-section h2{
  text-align: center;
  color: #ffc741;
}
textarea {
  resize: none;
}




/*************************** footer *******************************/

footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  color: #ffd700;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #888;
}

.footer-section p {
  line-height: 1.5;
}

.footer-section a {
  color: #e2e2e2;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}







.color1 {color: #ffc741;}
.color2 {color: #ffff5b;}
.color3 {color: #2c1700;}
.color4 {color: #7b7672;}
.color5 {color: #e2e2e2;}
